@import "tailwindcss";

html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}
.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    padding: 2rem 4rem;
    border-radius: 2rem;
    background-color: bisque;
    flex: 1;
    max-width: 550px;
    width: 100%;
}
.quote-container p{
    margin: 0;
    padding: 0.5rem;
    width: 100%;
}
.quote-container button{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: rgb(156, 248, 217);
    font-size: 1rem;
    font-weight: 400;
    transform: transition 0.2s ease;
    cursor: pointer;
}
.quote-container button:active{
    transform: scale(0.95);
}
